---
layout: default
---

{% if page.header.image %}
{%- include figure.html path=page.header.image alt="header image" width="100%" caption=page.header.caption -%}
{% endif %}

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            <center>
           </center>
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-0 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-0" -%}
              {% endif %}


              <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" style="height:267px; width:275px;" alt="{{ page.profile.image }}">

            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
          <h3><a href="{{ '/changelog/' | relative_url }}" style="color: inherit; font-size: 22px;"><tt style="color: red; font-size: 20px;">self.</tt>Changelog</a></h3>
          {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <br>
            <h2><a href="{{ '/research/' | relative_url }}" style="color: inherit;">Selected Projects</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}

          <hr>
          <h3 style="font-size: 22px;"><tt style="color: red; font-size: 20px;">self.</tt>Projects</h3>

          <table cellpadding="8" width="100%" style="border-collapse: collapse; border: none;">
            <tr>
              <td width="10%" style="border: none;">
                <img src="/assets/pubimg/st.jpg" height="125px" width="125px">
              </td>

              <td width="50%" style="border: none;">
                <h5 style="font-size: 16px;">
                  <a href="https://k9chen.github.io/assets/pdf/08082024.pdf">
                    <p style="text-align: justify; font-size: 16px;">
                      <b>[Poster] Spherical Mean Diffusion-Weighted MRI Reveals Peripheral Axonal Pathology Following Trauma</b>
                    </p>
                  </a>
                </h5>
                Chen, K., <a href='https://scholar.google.com/citations?user=4HPMQf8AAAAJ&hl=en'>Ketsiri, T.</a>, <a href='https://scholar.google.com/citations?user=0Nxp2WYAAAAJ&hl=en'>Dortch, R. D.</a><br>
              </td>

              <td width="10%" style="border: none;">
                Aug 2024
              </td>
            </tr>

            <tr>
              <td width="10%" style="border: none;">
                <img src="/assets/pubimg/grc.png" height="125px" width="125px">
              </td>

              <td width="50%" style="border: none;">
                <h5 style="font-size: 16px;">
                  <a href="https://k9chen.github.io/assets/pdf/07142024.pdf">
                    <p style="text-align: justify; font-size: 16px;">
                      <b>[Poster] Validation of Multi-Compartmental Diffusion MRI Models for Peripheral Nerve Trauma</b>
                    </p>
                  </a>
                </h5>
                <a href='https://scholar.google.com/citations?user=4HPMQf8AAAAJ&hl=en'>Ketsiri, T.</a>, Chen, K., <a href='https://scholar.google.com/citations?user=_Fn4lCsAAAAJ&hl=en'>Xu, Z.</a>, <a href='https://scholar.google.com/citations?user=0Nxp2WYAAAAJ&hl=en'>Dortch, R. D.</a><br>
              </td>

              <td width="10%" style="border: none;">
                Jul 2024
              </td>
            </tr>

            <tr>
              <td width="10%" style="border: none;">
                <img src="/assets/pubimg/st.jpg" height="125px" width="125px">
              </td>

              <td width="50%" style="border: none;">
                <h5 style="font-size: 16px;">
                  <a href="https://k9chen.github.io/assets/pdf/08112023.pdf">
                    <p style="text-align: justify; font-size: 16px;">
                      <b>[Poster] Geometry-Informed Multi-Compartmental Diffusion MRI Modeling of Injured Peripheral Nerves</b>
                    </p>
                  </a>
                </h5>
                Chen, K., <a href='https://scholar.google.com/citations?user=Xfj1T7MAAAAJ&hl=en'>Sadrabadi, M. S.</a>, <a href='https://scholar.google.com/citations?user=0Nxp2WYAAAAJ&hl=en'>Dortch, R. D.</a><br>
              </td>

              <td width="10%" style="border: none;">
                Aug 2023
              </td>
            </tr>
          </table>


          <hr>
          <h3 style="font-size: 22px;">
              <tt style="color: red; font-size: 20px;">self.</tt>Random
          </h3>
          <div style="text-align: justify; font-size: 1rem; margin-bottom: 20px;">
              In my spare time which is virtually non-existent, I am an avid reader of science fiction and magical realism and occasionally I will step my foot into the waters of computer science, pure mathematics, behavioral economics, philosophy, and quantum physics (fun fact: Erwin Schrödinger, Niels Bohr, and Wolfgang Pauli were some of my
              <span style="color: var(--global-theme-color); text-decoration: none; cursor: pointer;" onclick="toggleFootnote()">great-great-great-grand-advisors</span>).
              <span id="footnote" style="display: none; font-size: 0.8rem; margin-top: 10px; color: #555;">
                  <ul style="margin-left: 20px;">
                      <li>Kelvin Chen &larr; Petr Tvrdik &larr; Mario Capecchi &larr; Alexander Rich &larr; Linus Pauling &larr; Erwin Schrödinger</li>
                      <li>Kelvin Chen &larr; Petr Tvrdik &larr; Mario Capecchi &larr; Alexander Rich &larr; Linus Pauling &larr; Niels Bohr</li>
                      <li>Kelvin Chen &larr; Petr Tvrdik &larr; Mario Capecchi &larr; James Watson &larr; Max Delbrück &larr; Wolfgang Pauli</li>
                  </ul>
              </span>
          </div>

          <script>
          function toggleFootnote() {
              var footnote = document.getElementById("footnote");
              if (footnote.style.display === "none") {
                  footnote.style.display = "inline";
              } else {
                  footnote.style.display = "none";
              }
          }
          </script>
          <div style="text-align: justify; font-size: 1rem; margin-bottom: 20px;">
              If you are interested in reading something that will make you cry or you simply want to test if you are still human or not, my suggestion is to read <a href='https://static1.squarespace.com/static/5838a24729687f08e0321a15/t/5bf2bdfa562fa782871c6252/1542635003373/The-Paper-Menagerie+by+Ken+Liu.pdf'>this</a> short story about origami animals by Ken Liu, or perhaps <a href='https://arxiv.org/pdf/2205.14808'>this</a> 912-page proof of the Kerr black hole stability conjecture by Giorgi et al.
          </div>
          <hr>

          <h3 style="font-size: 22px;">
              <tt style="color: red; font-size: 20px;">self.</tt>Inquiries
          </h3>
          <div style="text-align: justify; font-size: 1rem; margin-bottom: 20px;">
              You are visitor no. <script type="text/javascript" src="//counter.websiteout.com/js/5/7/250/0"></script>. For any questions related or unrelated to my research, please direct them to me within an email at the following: <a href='mailto:ddw4hp@virginia.edu'><tt>ddw4hp [AT] virginia [DOT] edu</tt></a>
          </div>
        </article>
</div>
